@model MVC_Istat.Models.ContattoViewModel

@{
    ViewData["Title"] = "Contatto";
}

<h1>Contatto</h1>

<div>
    <h4>Contatto</h4>
    <hr />
    <p><b>Messaggio: </b>@Model.Messaggio</p>
    <p><b>Email: </b>@Model.Email</p>
    <p><b>Telefono: </b>@Model.Telefono</p>
</div>

