
@{
    ViewBag.Title = "Index";
}

<h2>Dashboard Amministratori</h2>

<p>Gestione Libri</p>
<p>
    @Html.ActionLink("Nuovo Libro", "Create", "Libri")
</p>

<p>Gestione Studenti</p>
<p>
    @Html.ActionLink("Nuovo Studente", "Create", "Studente")
</p>

<p>Gestione Prestiti</p>
<p>
    @Html.ActionLink("Nuovo Prestito", "Create", "Prestiti")
</p>

